*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#ffffff;

color:#222;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:#081B33;

}

.logo{

font-size:30px;

font-family:'Playfair Display',serif;

font-weight:bold;

color:#ffffff;

}

.navbar ul{

display:flex;

list-style:none;

gap:30px;

}

.navbar a{

color:white;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.navbar a:hover{

color:#d4af37;

}

.hero{

height:90vh;

background:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") center center/cover;

display:flex;

justify-content:center;

align-items:center;

}

.overlay{

background:rgba(0,0,0,.60);

padding:60px;

text-align:center;

color:white;

width:100%;

height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.overlay h1{

font-size:72px;

font-family:'Playfair Display',serif;

margin-bottom:20px;

}

.overlay p{

font-size:26px;

margin-bottom:40px;

max-width:800px;

}

.button{

background:#C9A227;

padding:18px 40px;

border-radius:5px;

text-decoration:none;

color:black;

font-weight:bold;

}

.button:hover{

background:white;

}

footer{

background:#081B33;

color:white;

text-align:center;

padding:30px;

}
